*{
    margin: 0px;
    padding: 0px;
    font: normal , arial ;
    color: white;

}
header{
    text-align: center;
}
section{
    display: flex;
    padding: 50px;
    padding-left: 200px;
    background: blue;
    width: 1000px;
    border: azure;
    box-shadow: 2px 2px 10px;
    text-align: center;

}
p.inputano{
    padding: 30px;
    
}
input#txtano{
    border-radius: 5px;
    color: black;
}
nav{
    display: flex;
    display: -webkit-flex;
    text-align: center;
   margin: auto;
  



}
div.feminino{
    
    margin: auto;
}
div.masculino{
margin: auto;
}
input#verificar{
    padding: 10px;
    color: black;
    margin: auto;
}
    input#verificar:hover{
        background-color: rgb(51, 57, 232);
        color: white;
    }
img{
    margin: auto;
    padding: 25px;
    border-radius: 100px;
}
div#resultado{
    color: white;
    background-color: black;
    padding: 30px;
}